<header>
    <link href="user/css/checkout.css" rel="stylesheet">
    <script src="user/js/checkout.js"></script>
</header>

<section style="background: #E7EDF0;">
    <div class="row" style="padding-top:20px; padding-bottom: 20px">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <div class="row" style="padding-left: 30px">
                <p style="font-size: large">Giỏ hàng &nbsp;</p>
                <p style="font-size: large">(3 sản phẩm)</p>
            </div>
            <div class="list-group">
                <!--item-->
                <div>
                    <div class="card" style="padding: 0px; margin-bottom: 15px">
                        <div class="row" style="padding: 0px; margin: 0px">
                            <div class="col-sm-2" style="padding: 0px">
                                <img class="image" height="170" width="150" src="user/images/try-clothes/image1.jpg">
                            </div>
                            <div class="col-sm-6" style="padding-left: 30px">
                                <div class="row">
                                    <h3>Áo hoodie nam tay dài</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2" style="padding: 0px">
                                        <p style="color: #0b7dda">Xóa</p>
                                    </div>
                                    <div class="col-sm-5" style="padding: 0px">
                                        <p style="color: #0b7dda">Để dành mua sau</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" style="padding: 20px">
                                <div class="col-sm-6" style="padding-right: 30px" >
                                    <div class="row justify-content-end">
                                        <h4>700.000đ</h4>
                                    </div>
                                    <div class="row justify-content-end">
                                        <h5 style="text-decoration-line: line-through; color: #6e6e6e">350.000đ</h5>
                                        <h5>&nbsp;| 50%</h5>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="input-group number-spinner">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="dwn">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            <input type="text" class="form-control text-center" value="1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="up">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div>
                    <div class="card" style="padding: 0px; margin-bottom: 15px">
                        <div class="row" style="padding: 0px; margin: 0px">
                            <div class="col-sm-2" style="padding: 0px">
                                <img class="image" height="170" width="150" src="user/images/try-clothes/image1.jpg">
                            </div>
                            <div class="col-sm-6" style="padding-left: 30px">
                                <div class="row">
                                    <h3>Áo hoodie nam tay dài</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2" style="padding: 0px">
                                        <p style="color: #0b7dda">Xóa</p>
                                    </div>
                                    <div class="col-sm-5" style="padding: 0px">
                                        <p style="color: #0b7dda">Để dành mua sau</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" style="padding: 20px">
                                <div class="col-sm-6" style="padding-right: 30px" >
                                    <div class="row justify-content-end">
                                        <h4>700.000đ</h4>
                                    </div>
                                    <div class="row justify-content-end">
                                        <h5 style="text-decoration-line: line-through; color: #6e6e6e">350.000đ</h5>
                                        <h5>&nbsp;| 50%</h5>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="input-group number-spinner">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="dwn">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            <input type="text" class="form-control text-center" value="1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="up">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div>
                    <div class="card" style="padding: 0px; margin-bottom: 15px">
                        <div class="row" style="padding: 0px; margin: 0px">
                            <div class="col-sm-2" style="padding: 0px">
                                <img class="image" height="170" width="150" src="user/images/try-clothes/image1.jpg">
                            </div>
                            <div class="col-sm-6" style="padding-left: 30px">
                                <div class="row">
                                    <h3>Áo hoodie nam tay dài</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2" style="padding: 0px">
                                        <p style="color: #0b7dda">Xóa</p>
                                    </div>
                                    <div class="col-sm-5" style="padding: 0px">
                                        <p style="color: #0b7dda">Để dành mua sau</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" style="padding: 20px">
                                <div class="col-sm-6" style="padding-right: 30px" >
                                    <div class="row justify-content-end">
                                        <h4>700.000đ</h4>
                                    </div>
                                    <div class="row justify-content-end">
                                        <h5 style="text-decoration-line: line-through; color: #6e6e6e">350.000đ</h5>
                                        <h5>&nbsp;| 50%</h5>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="input-group number-spinner">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="dwn">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            <input type="text" class="form-control text-center" value="1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="up">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--item-->
                <div>
                    <div class="card" style="padding: 0px; margin-bottom: 15px">
                        <div class="row" style="padding: 0px; margin: 0px">
                            <div class="col-sm-2" style="padding: 0px">
                                <img class="image" height="170" width="150" src="user/images/try-clothes/image1.jpg">
                            </div>
                            <div class="col-sm-6" style="padding-left: 30px">
                                <div class="row">
                                    <h3>Áo hoodie nam tay dài</h3>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2" style="padding: 0px">
                                        <p style="color: #0b7dda">Xóa</p>
                                    </div>
                                    <div class="col-sm-5" style="padding: 0px">
                                        <p style="color: #0b7dda">Để dành mua sau</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4" style="padding: 20px">
                                <div class="col-sm-6" style="padding-right: 30px" >
                                    <div class="row justify-content-end">
                                        <h4>700.000đ</h4>
                                    </div>
                                    <div class="row justify-content-end">
                                        <h5 style="text-decoration-line: line-through; color: #6e6e6e">350.000đ</h5>
                                        <h5>&nbsp;| 50%</h5>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="input-group number-spinner">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="dwn">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                </button>
                                            </span>
                                            <input type="text" class="form-control text-center" value="1">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" data-dir="up">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-3">
            <div>
                <div class="card" style="margin-top: 50px;">
                    <div class="card-top">
                        <div class="row" style="padding: 0px; margin: 0px">
                            <div class="mr-auto p-2 bd-highlight">
                                <h4>Địa chỉ nhập hàng</h4>
                            </div>
                            <div class="p-2 bd-highlight">
                                <h4 style="color: #0b7dda">Thay đổi</h4>
                            </div>
                        </div>
                        <div class="row" style="padding-left: 25px; margin-top: 10px">
                            <div class="col">
                                <p style="font-size: medium">Trương Văn Tú | 0978966563</p>
                                <h5 style="color: #6e6e6e">64 Tản Đà, P.11, Q.5, Tp.HCM</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row" style="padding: 0px; margin: 0px">
                            <div class="mr-auto p-2 bd-highlight">
                                <h4 style="color: #7A7676">Tạm tính</h4>
                            </div>
                            <div class="p-2 bd-highlight">
                                <h4>700.000đ</h4>
                            </div>
                        </div>
                        <div class="row" style="padding: 0px; margin: 0px">
                            <div class="mr-auto p-2 bd-highlight">
                                <h4 style="color: #7A7676">Giảm giá</h4>
                            </div>
                            <div class="p-2 bd-highlight">
                                <h4>-200.000đ</h4>
                            </div>
                        </div>
                        <div class="row" style="padding: 0px; margin: 0px">
                            <div class="mr-auto p-2 bd-highlight">
                                <h4 style="color: #7A7676">Thành tiền</h4>
                            </div>
                            <div class="p-2 bd-highlight">
                                <div class="col d-flex align-items-end flex-column" style=" padding: 0px">
                                    <h4 style="color: crimson">500.000đ</h4>
                                    <h5 style="color: #6e6e6e">(Đã bao gồm VAT nếu có)</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center" style="margin: 20px">
                            <button type="submit" data-toggle="modal" class="button col-sm-9" data-target="#myModal">
                                <a style="font-size: large;" class="appColor">Tiến hành thanh toán</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <!-- The Modal -->
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <div class="mr-auto p-2 bd-highlight">
                        <b style="color: #7A7676; font-size: large">Đặt hàng thành công</b>
                    </div>
                    <div class="p-2 bd-highlight">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>
                <div class="modal-body">
                    <p>Cảm ơn quý khách đã đặt hàng</p>
                    <p>Thông tin chi tiết về đơn hàng sẽ được gửi tới email</p>
                    <p>Nếu có bất kỳ sự cố nào quý khách có thể liên hệ trực tiếp với shop thông qua thông tin liên lạc phía dưới</p>
                    <p>Xin chân thành cảm ơn!!!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</section>