<header>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</header>
<div class="container">
    <div class="row row-items">
        <h2 style="text-align: center;">SẢN PHẨM NỔI BẬT</h2>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="container">
                    <div class="row">                       
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;"></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
    <div class="row row-items">
        <h2 style="text-align: center;">SẢN PHẨM BÁN CHẠY</h2>
        <div id="carouselExampleDark2" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="container">
                    <div class="row">                       
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="item-container">
                                <img class="item-img" src="user/images/home/hoodie1.png">
                                <p style="text-align: center;"><b>Áo sweater</b></p>
                                <p style="text-align: center;">300.000</b></p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleDark2" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleDark2" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
    <div class="row row-items">
        <div class="col-lg-4 col-md-12">
            <div class="tag-item1 d-flex justify-content-center align-items-center">
                <h2 class="tag-font-color">BỘ SƯU TẬP MỚI</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="tag-item2 d-flex justify-content-center align-items-center">
                <h2 class="tag-font-color">ƯU ĐÃI</h2>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="tag-item3 d-flex justify-content-center align-items-center">
                <h2 class="tag-font-color">QUÀ TẶNG</h2>
            </div>
        </div>
    </div>
</div>