<div class="container">
    <div class="row row-items">
        <h2 style="text-align: center;">SẢN PHẨM NỔI BẬC</h2>
        <div class="d-flex flex-wrap">
            <div class="item-container">
                <img class="item-img" src="user/images/home/hoodie1.png">
                <p style="text-align: center;"><b>Áo sweater</b></p>
                <p style="text-align: center;">300.000</b></p>
            </div>
            <div class="item-container">
                <img class="item-img" src="user/images/home/hoodie1.png">
                <p style="text-align: center;"><b>Áo sweater</b></p>
                <p style="text-align: center;">300.000</b></p>
            </div>
            <div class="item-container">
                <img class="item-img" src="user/images/home/hoodie1.png">
                <p style="text-align: center;"><b>Áo sweater</b></p>
                <p style="text-align: center;">300.000</b></p>
            </div>
            <div class="item-container">
                <img class="item-img" src="user/images/home/hoodie1.png">
                <p style="text-align: center;"><b>Áo sweater</b></p>
                <p style="text-align: center;">300.000</b></p>
            </div>
            <div class="item-container">
                <img class="item-img" src="user/images/home/hoodie1.png">
                <p style="text-align: center;"><b>Áo sweater</b></p>
                <p style="text-align: center;">300.000</b></p>
            </div>
        </div>
    </div>
    <div class="row row-items">
        <h2 style="text-align: center;">SẢN PHẨM BÁN CHẠY</h2>
        <div class="d-flex flex-wrap">
            <div class="item-container">
                <img class="item-img" src="user/images/home/hoodie1.png">
                <p style="text-align: center;"><b>Áo sweater</b></p>
                <p style="text-align: center;">300.000</b></p>
            </div>
            <div class="item-container">
                <img class="item-img" src="user/images/home/hoodie1.png">
                <p style="text-align: center;"><b>Áo sweater</b></p>
                <p style="text-align: center;">300.000</b></p>
            </div>
            <div class="item-container">
                <img class="item-img" src="user/images/home/hoodie1.png">
                <p style="text-align: center;"><b>Áo sweater</b></p>
                <p style="text-align: center;">300.000</b></p>
            </div>
            <div class="item-container">
                <img class="item-img" src="user/images/home/hoodie1.png">
                <p style="text-align: center;"><b>Áo sweater</b></p>
                <p style="text-align: center;">300.000</b></p>
            </div>
            <div class="item-container">
                <img class="item-img" src="user/images/home/hoodie1.png">
                <p style="text-align: center;"><b>Áo sweater</b></p>
                <p style="text-align: center;">300.000</b></p>
            </div>
        </div>
    </div>
    <div class="row row-items">
        <div class="col">
            <div class="tag-item1 d-flex justify-content-center align-items-center">
                <h2 class="tag-font-color">BỘ SƯU TẬP MỚI</h2>
            </div>
        </div>
        <div class="col">
            <div class="tag-item2 d-flex justify-content-center align-items-center">
                <h2 class="tag-font-color">ƯU ĐÃI</h2>
            </div>
        </div>
        <div class="col">
            <div class="tag-item3 d-flex justify-content-center align-items-center">
                <h2 class="tag-font-color">QUÀ TẶNG</h2>
            </div>
        </div>


    </div>
</div>