<header>
    <link href="user/css/login.css" rel="stylesheet">
</header>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <img id="loginbanner" src="/user/images/login/login.png">
        </div>
        <div class="col-sm-4">
            <div class="d-flex justify-content-center">
                <h2 style="font-weight: bolder;" >Đăng nhập</h2>
            </div>
            <form method="post">
                <div class="form-group pt-4">
                    <label class="emailLab" for="email">Tên đăng nhập</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group pt-4">
                    <label class="passwordLab" for="password">Mật khẩu</label>
                    <input type="password" class="form-control" id="password" required>
                </div>
                <a href="/" id="loginBtn" class="btn btn-primary" style="
                padding-top: 10px; padding-bottom: 10px;
                padding-left: 30px; padding-right: 30px" type="submit">Đăng nhập</a>
                <br>
                <br>
                <p style="font-weight: bold;">Bạn chưa có tài khoản? <a href="/register">Đăng ký ngay</a></p>
            </form>
        </div>
    </div>
</div>