<header>
    <link href="/user/css/login.css" rel="stylesheet">
</header>

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <img id="loginbanner" src="/user/images/login/loginbanner.svg">
        </div>
        <div class="col-sm-4">
            <h1 style="font-weight: bolder;" >Đăng nhập</h1>

            <form method="post">
                <div class="form-group pt-5">
                    <label class="emailLab" for="email">Tên đăng nhập</label>
                    <input type="email" class="form-control" id="email" required>
                </div>
                <div class="form-group pt-4 pb-3">
                    <label class="passwordLab" for="password">Mật khẩu</label>
                    <input type="password" class="form-control" id="password" required>
                </div>
                <button id="loginBtn" class="btn btn-primary px-5 py-3" type="submit">Đăng nhập</button>
                <br>
                <br>
                <p style="font-weight: bold;">Bạn chưa có tài khoản? <a href="/signup">Đăng ký ngay</a></p>
            </form>
        </div>
    </div>
</div>