<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <a href="/products-men" class="products-none-style-a-tag">
                            <button class="product-list-font new-btn-products" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseOne" aria-expanded="false"
                                    aria-controls="flush-collapseOne">
                                Mới
                            </button>
                        </a>
                    </h2>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed product-list-font" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo" onclick="location.href='http://127.0.0.1:3000/products-men?type=1'>
                            Áo
                        </button>
                    </h2>
                    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="product-items"><a href="/products-men?type=t-shirt" class="products-none-style-a-tag">Áo thun</a></div>
                            <div class="product-items"><a href="#" class="products-none-style-a-tag">Áo sơ mi</a></div>
                            <div class="product-items"><a href="#" class="products-none-style-a-tag">Áo khoát</a></div>
                            <div class="product-items"><a href="#" class="products-none-style-a-tag">Sweater</a></div>
                            <div class="product-items"><a href="#" class="products-none-style-a-tag">Jacket</a></div>
                            <div class="product-items"><a href="#" class="products-none-style-a-tag">Blazer</a></div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed product-list-font" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree" onclick="location.href='http://127.0.0.1:3000/products-men?type=2'">
                            Quần
                        </button>
                    </h2>
                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                         aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="product-items"><a href="/products-men?type=quan-short" class="products-none-style-a-tag">Quần short</a>
                            </div>
                            <div class="product-items"><a href="/products-men?type=quan-jean" class="products-none-style-a-tag">Quần jeans</a>
                            </div>
                            <div class="product-items"><a href="#" class="products-none-style-a-tag">Quần kaki</a></div>
                            <div class="product-items"><a href="/products-men?type=quan-tay" class="products-none-style-a-tag">Quần tây</a></div>
                            <div class="product-items"><a href="#" class="products-none-style-a-tag">Quần bơi</a></div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingFour">
                        <button class="accordion-button collapsed product-list-font" type="button"
                                data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false"
                                aria-controls="flush-collapseFour">
                            Phụ kiện
                        </button>
                    </h2>
                    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                         data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <div class="product-items"><a href="#" class="products-none-style-a-tag">Nón</a></div>
                            <div class="product-items"><a href="#" class="products-none-style-a-tag">Ví</a></div>
                            <div class="product-items"><a href="#" class="products-none-style-a-tag">Túi</a></div>
                            <div class="product-items"><a href="#" class="products-none-style-a-tag">Vớ</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap col-lg-9">
            <% maleProducts.forEach(function (product){ %>
                <div class="card text-center item-container" onclick="location.href='http://127.0.0.1:3000/products-detail?id=<%= product._id %>'">
                    <img class="card-img-top image" height="150px" src="<%= product.images[0] %>">
                    <div class="card-body align-items-center">
                        <a style="text-align: center;"><%= product.name %></a><br>
                        <a style="text-align: center;"><%= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'}); %></a> <br>
                        <a style="text-align: center;">M S L</a><br>
                        <i style="color: #E07A5F" class="fa fa-square"></i>
                        <i style=" color: #8C4DF3" class="fa fa-square"></i>
                        <i style="color: orange" class="fa fa-square"></i>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>