<header>
    <link href="user/css/register.css" rel="stylesheet">
</header>

<section style="background: #E7EDF0;">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <img src="user/images/register/register.png" style="width: 100%;height: 800px">
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div class="row justify-content-center" style="margin-top: 50px">
                    <h1><b>Đăng ký</b></h1>
                </div>
                <div class="row">
                </div>
                <form action="http://localhost:3000/action_page.php">
                    <div class="form-group" style="margin-top: 10px">
                        <label for="name">Họ và tên</label>
                        <input type="text" class="form-control" placeholder="Họ và tên" id="name">
                    </div>
                    <div class="form-group" style="margin-top: 10px">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" placeholder="Email" id="email">
                    </div>
                    <div class="form-group" style="margin-top: 10px">
                        <label for="username">Tên đăng nhập</label>
                        <input type="text" class="form-control" placeholder="Tên đăng nhập" id="username">
                    </div>
                    <div class="form-group" style="margin-top: 10px">
                        <label for="password">Mật khẩu</label>
                        <input type="password" class="form-control" placeholder="Mật khẩu" id="password">
                    </div>
                    <div class="form-group" style="margin-top: 10px">
                        <label for="confirmpassword">Nhập lại mật khẩu</label>
                        <input type="password" class="form-control" placeholder="Nhập lại mật khẩu" id="confirmpassword">
                    </div>
                    <div style="margin-top: 5px">
                        <input type="checkbox" id="remember" name="remember">
                        <label for="remember"> Nhớ tài khoản</label><br>
                    </div>
                </form>
                <div class="row justify-content-center" style="margin-top: 30px">
                    <button type="submit" class="button col-sm-4">
                        <a style="font-size: large;" class="appColor">Đăng ký</a>
                    </button>
                    <div class="col-sm-1"></div>
                    <button type="button" class="button col-sm-4">
                        <a style="font-size: large;" class="appColor">Đăng nhập</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>