<header>
    <link href="user/css/try-clothes.css" rel="stylesheet">
</header>

<section style="background: #E7EDF0; padding: 20px">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class=" row" style="margin-top: 10px">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <div class="dropdown">
                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                                <b style="font-size: x-large;">Nam</b>
                            </button>
                            <div class="dropdown-menu">
                                <p class="dropdown-item" >Nam</p>
                                <p class="dropdown-item" >Nữ</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5" >
                        <div class="dropdown">
                            <button type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown">
                                <b style="font-size: x-large;">Áo</b>
                            </button>
                            <div class="dropdown-menu">
                                <p class="dropdown-item" >Mới</p>
                                <p class="dropdown-item" >Áo</p>
                                <p class="dropdown-item" >Quần</p>
                                <p class="dropdown-item" >Túi xách</p>
                                <p class="dropdown-item" >Túi xách</p>
                                <p class="dropdown-item" >Phụ kiện</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="card-body">
                    <div class="list-group flex-row flex-wrap">
                        <!--item-->
                        <div class="col-sm-6" style="padding: 5px">
                            <div class="card text-center">
                                <img class="card-img-top image"  height="150" src="user/images/try-clothes/image1.jpg" alt="Card image cap">
                                <div class="card-body align-items-center">
                                    <h5 class="card-title">Áo hoodie</h5>
                                    <p class="card-text">200,000đ</p>
                                </div>
                            </div>
                        </div>
                        <!--item-->
                        <div class="col-sm-6" style="padding: 5px">
                            <div class="card text-center">
                                <img class="card-img-top image" height="150" src="user/images/try-clothes/image1.jpg" alt="Card image cap">
                                <div class="card-body align-items-center">
                                    <h5 class="card-title">Áo hoodie</h5>
                                    <p class="card-text">200,000đ</p>
                                </div>
                            </div>
                        </div>
                        <!--item-->
                        <div class="col-sm-6" style="padding: 5px">
                            <div class="card text-center">
                                <img class="card-img-top image"  height="150" src="user/images/try-clothes/image1.jpg" alt="Card image cap">
                                <div class="card-body align-items-center">
                                    <h5 class="card-title">Áo hoodie</h5>
                                    <p class="card-text">200,000đ</p>
                                </div>
                            </div>
                        </div>
                        <!--item-->
                        <div class="col-sm-6" style="padding: 5px">
                            <div class="card text-center">
                                <img class="card-img-top image" height="150" src="user/images/try-clothes/image1.jpg" alt="Card image cap">
                                <div class="card-body align-items-center">
                                    <h5 class="card-title">Áo hoodie</h5>
                                    <p class="card-text">200,000đ</p>
                                </div>
                            </div>
                        </div>
                        <!--item-->
                        <div class="col-sm-6" style="padding: 5px">
                            <div class="card text-center">
                                <img class="card-img-top image"  height="150" src="user/images/try-clothes/image1.jpg" alt="Card image cap">
                                <div class="card-body align-items-center">
                                    <h5 class="card-title">Áo hoodie</h5>
                                    <p class="card-text">200,000đ</p>
                                </div>
                            </div>
                        </div>
                        <!--item-->
                        <div class="col-sm-6" style="padding: 5px">
                            <div class="card text-center">
                                <img class="card-img-top image" height="150" src="user/images/try-clothes/image1.jpg" alt="Card image cap">
                                <div class="card-body align-items-center">
                                    <h5 class="card-title">Áo hoodie</h5>
                                    <p class="card-text">200,000đ</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-9 my-auto">
            <div class="col-12 ">
                <div class="row">
                    <!--Push model-->
                    <div class="col-sm-3">
                        <div class="card shadow">
                            <img  src="user/images/try-clothes/image1.jpg" style="height:300px; border-radius: 8px">
                            <div class="centered file-field">
                                <button class="buttonFile" onclick="document.getElementById('file-input').click();">
                                    <img   src="user/images/try-clothes/file.png" style="height:70px;width: 70px">
                                </button>
                                <input id="file-input" type="file" name="name" style="display: none;" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-1 my-auto bi-align-center">
                        <div class="row justify-content-center">
                            <i class="fa fa-plus fa-4x" ></i>
                        </div>
                    </div>
                    <!--Clothes-->
                    <div class="col-sm-3">
                        <div class="card shadow">
                            <img class="card-img-top" style="border-radius: 8px" height="300" src="user/images/try-clothes/image2.jpg" alt="Card image cap">
                        </div>
                    </div>
                    <div class="col-sm-1 my-auto">
                        <div class="row justify-content-center">
                            <i class="fas fa-equals fa-4x"></i>
                        </div>

                    </div>
                    <!--Result-->
                    <div class="col-sm-3">
                        <div class="card shadow">
                            <img class="card-img-top" style="border-radius: 8px" height="300" src="user/images/try-clothes/image3.jpg" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top: 50px">
                    <a href="checkout.html" style="font-size: large;" class="abc col-sm-3" >Thử đồ</a>
                    <div class="col-sm-1"></div>
                    <a href="checkout.html" style="font-size: large;" class="abc col-sm-3" >Chi tiết sản phẩm</a>
                </div>
                <div class="row justify-content-center" style="margin-top: 30px">
                    <a href="checkout.html" style="font-size: large;" class="abc col-sm-3" >Mua ngay</a>
                    <div class="col-sm-1"></div>
                    <a href="checkout.html" style="font-size: large;" class="abc col-sm-3" >Thêm vào giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function() {
        $("#input-b5").fileinput({showCaption: false, dropZoneEnabled: false});
    });
</script>