<head>
    <link rel="stylesheet" href="admin/css/header.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
        .header{
    background-color: #8C4DF3;
    color: white;
    }
    a{
        text-decoration: none;
        color: white;
    }

    </style>
</head>
<div class="header">
    <div class="d-flex justify-content-between">

        <div class="d-flex justify-content-start">
            <h2 class="align-self-center"><b>Mélter</b></h2>
            <i class="material-icons align-self-center">subject</i>
        </div>
        <div class="d-flex justify-content-end">
            <!-- <i class="fas fa-user">icon here but it is not show</i> -->
            <span class="material-icons align-self-center">
                person_pin
                </span>
            <a href="#" class="align-self-center">Đăng xuất</a>
        </div>
    </div>

</div>