<header>
    <link href="/admin/css/dashboard.css" rel="stylesheet">
</header>

<div class="container">
    <div class="row row-items py-5">
        <div class="col-lg-3 col-sm-6">
            <div class="card summary">
                <div class="card-body" style="background-color: #14998B;">
                    <h3 class="card-title text-white">Tổng sản phẩm đã bán</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">4565</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card summary">
                <div class="card-body" style="background-color: #E56B6F;">
                    <h3 class="card-title text-white">Danh thu</h3>
                    <br>
                    <div class="d-inline-block">
                        <h2 class="text-white">$ 8541</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card summary">
                <div class="card-body" style="background-color: #E07A5F;">
                    <h3 class="card-title text-white">Khách hàng</h3>
                    <br>
                    <div class="d-inline-block">
                        <h2 class="text-white">4565</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card summary">
                <div class="card-body" style="background-color: #F0C074;">
                    <h3 class="card-title text-white">Sự hài lòng của khách hàng</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">99%</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-items" style="background-color: #EFDCDC;">
        <div class="col">
            <div class="card member">
                <div class="card-body">
                    <div class="text-center">
                        <img src="/admin/images/home/tumeo.jpg" class="rounded-circle" alt="">
                        <h5 class="mt-3 mb-1 memberName">Tú Mẹo</h5>
                        <p class="m-0 roleName">Leader</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card member">
                <div class="card-body">
                    <div class="text-center">
                        <img src="/admin/images/home/tungnguyen.jpg" class="rounded-circle" alt="">
                        <h5 class="mt-3 mb-1 memberName">Tùng Nguyễn</h5>
                        <p class="m-0 roleName">Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card member">
                <div class="card-body">
                    <div class="text-center">
                        <img src="/admin/images/home/tuanla.jpg" class="rounded-circle" alt="">
                        <h5 class="mt-3 mb-1 memberName">Tuấn La</h5>
                        <p class="m-0 roleName">Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card member">
                <div class="card-body">
                    <div class="text-center">
                        <img src="/admin/images/home/giatuan.jpg" class="rounded-circle" alt="">
                        <h5 class="mt-3 mb-1 memberName">Gia Tuấn</h5>
                        <p class="m-0 roleName">Developer</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card member">
                <div class="card-body">
                    <div class="text-center">
                        <img src="/admin/images/home/tanvinh.jpg" class="rounded-circle" alt="">
                        <h5 class="mt-3 mb-1 memberName">Tấn Vịnh</h5>
                        <p class="m-0 roleName">Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-items py-5">
        <div class="col-7">
            <div class="card" style="background-color: #EFDCDC;">
                <div class="card-body">
                    <h4 class="card-title mb-0">Store Location</h4>
                    <br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.7663259762385!2d106.66235301433665!3d10.75248416257653!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ef9fd8342b7%3A0x6dc06a537a93e3d6!2zNjQtIFThuqNuIMSQw6AsIFBoxrDhu51uZyAxMSwgUXXhuq1uIDUsIFRow6BuaCBwaOG7kSBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1608226997863!5m2!1svi!2s"
                            width="500" height="500" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card" style="background-color: #EFDCDC;">
                <div class="card-body">
                    <h4 class="card-title mb-0">Social Media</h4>
                    <br>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FM%25C3%25A9lter-101810298496364&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2698445340222968"
                            width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                            allowfullscreen="true"
                            allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>