<div class="btn-group dropup " style="float: right;">
    <button type="button" class="btn btn-secondary dropdown-toggle chatbox-btn" data-bs-toggle="dropdown" aria-expanded="false">
      <span class="online-dot">&bull;</span> Admin
    </button>
    <ul class="dropdown-menu">
        <div class="chat-container">
            <p>Xin chào! mình có thể giúp gì cho ban?</p>
            <input type="text">
        </div>
    </ul>
  </div>
<footer class="footer" style="clear: right;padding: 0px">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-4 footer-column">
                <h3 class="footer-element">Về <span>Mélter</span></h3>
                <p class="footer-element">Tuyển dụng</p>
                <p class="footer-element">Liên hệ</p>
                <p class="footer-element">097896789</p>
                <p class="footer-element">contact@melter.com</p>
            </div>
            <div class="col-lg-3 col-sm-4 footer-column">
                <h3 class="footer-element">Trợ giúp</h3>
                <p class="footer-element">Chính sách khách hàng</p>
                <p class="footer-element">Chính sách đổi trả</p>
                <p class="footer-element">Chính sách bảo hành</p>
                <p class="footer-element">Câu hỏi thường gặp</p>
            </div>
            <div class="col-lg-3 col-sm-4 footer-column">
                <h3 class="footer-element">Shop</h3>
                <p class="footer-element">64 Tản Đà P11 Q5 HCM</p>
                <p class="footer-element">25/17 Âu Cơ P1 Q1 HCM</p>
                <p class="footer-element">1 Nguyễn Trãi P11 Q5 HCM</p>
            </div>
            <div class="col-lg-3 col-sm-4 footer-column">
                <img class="img-map-footer" src="user/images/footer/map.jfif">
            </div>
        </div>
        <div class="row justify-content-center line ">
            <p style="color: #E7EDF0">&copy; Mélter</p>
        </div>
    </div>
</footer>
