
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= title %></title>
    <% include element/admin/head.ejs %>
</head>

<body>
    <% include element/admin/head.ejs %>
    <div>
        <%- body %>
    </div>
<!--    <% include element/admin/footer.ejs %>-->
<!--    <% include element/admin/js.ejs %>-->
</body>
</html>