<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%include element/user/headers.ejs%>
    <%include element/user/css.ejs%>
</head>
<!--/head-->

<body>
    <%include element/user/head.ejs%>
    <div>
        <%-body%>
    </div>
    <%include element/user/footer.ejs%>
    <%include element/user/scripts.ejs%>
</body>
</html>