<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%include element/user/headers.ejs%>
    <%include element/user/css.ejs%>
</head>
<!--/head-->
<body>
    <div>
        <%-body%>
    </div>
</body>
<footer>
    <%include element/user/footer.ejs%>
</footer>
<script>
    <%include element/user/scripts.ejs%>
</script>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>-->

</html>