<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="user/css/home.css" rel="stylesheet">
    <link href="user/css/footer.css" rel="stylesheet">
    
    <%include element/user/headers.ejs%>
    <%include element/user/css.ejs%>
</head>
<!--/head-->

<body>
    <%include element/user/head.ejs%>
    <div>
        <%-body%>
    </div>
    <%include element/user/footer.ejs%>
    <%include element/user/scripts.ejs%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>